#suma-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button.correcto {
    background-color: green;
    color: white;
}

button.incorrecto {
    background-color: red;
    color: white;
}
